<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment confirmed</title>
</head>
<body>
    <p style="font-size: 16px">Dear {{ name }}, your appointment for blood donation has been booked in the following slot:<br>
        <ul style="font-size: 16px">
        <li>Date: {{ date }}</li>
        <li>Time: {{ time }}</li>
    </ul></p>
    <p style="font-size: 16px">
    Reference no. for your booking is : {{ reference }}.<br>
    We appreciate your generosity. Your donation has a great impact on many lives.

    </p>

</body>
</html>