{% extends "home/base.html" %}
{% load static %}

{% block head %}
<title>webpage</title>
<style media="screen">
  .bodysize {background-color: rgba(145,40,40,0.6);
    color:white;
    height : 500px;
    width: 500px;
    margin-top: 60px;
  }
  </style>
  {% endblock %}



{% block body %}
<div class="container bodysize">
<form class="form" action="{% url 'home:password_reset_complete' %}" method="post">
  <table class="table">
    <tr>
      <td>New Password</td>
      <td><input type="password" name="new_password" required></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><input type="password" name="confirm_password" required></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Submit" class="btn btn-outline-success"></td>
    </tr>
  </table>
{% csrf_token %}
</form>
</div>

{% endblock %}
