{% extends "home/base.html" %}
{% load static %}
{% block head %}
<title>webpage</title>
<style media="screen">
  .bodysize {background-color: rgba(145,40,40,0.6);
    color:white;
    height : 1000px;
    width: 500px;
    margin-top: 60px;
  }
  </style>
  {% endblock %}



{% block body %}
<div class="container bodysize">
 <form class="form" action="{% url 'home:password_reset' %}" method="post">
   <table class="table">
     <tr>
       <td>Email:</td>
       <td><input type="text" required placeholder="Email" name="email"></td>
     </tr>
     <tr>
       <td></td>
       <td><input type="Submit" value="Submit" class="btn btn-outline-success"></td>
     </tr>
   </table>
   {% csrf_token %}
 </form>


</div>


{% endblock %}
