<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sending mail</title>
    <p style="font-size: 20px">
        Dear {{ username }},{{ requestor }} has requested you for blood for he has {{ reason }} and we are currently out
        of stock.Would you please help him ?
        Your donation will create a huge impact.<br>
        His contact details are:<br>
    <ul style="font-size: 20px">
    <li>Email : {{ email }}</li>
    <li>Cell : {{ phone }}</li>
    </ul>

    <a href="{{ link }}">Book an appointment</a>

    </p>

</head>
<body>

</body>
</html>