{% extends 'home/base.html' %}
{% load static %}
{% block head %}

    <meta charset="utf-8">
    <title>Upcoming</title>
    <link rel="stylesheet" type="text/css" href="{% static "camps.css" %}">
    <style media="screen">
      .preregisterbtn {
          background-color: #F28A30;
          color: white;
          padding: 10px 15px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          opacity: 0.9;
      }

      .preregisterbtn:hover {
          opacity: 1;
      }
    </style>
{% endblock %}
  {% block body %}
    <a href="{% url 'bloodcamp:camphome' %}" style="text-decoration:none;color:#701B05" ><h2>&#8592Back</h2></a>
    <h1 class="heading">Upcoming camps</h1><br>
    {% if camps %}
    <table class="camps">
      <tr>
        <th>CampID</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>location</th>
      </tr>
      {% for camp in camps %}
        <tr>
        <td>{{ camp.campid }}</td>
        <td>{{ camp.startdate }}</td>
        <td>{{ camp.enddate }}</td>
        <td>{{ camp.location }}</td>
        </tr>
      {% endfor %}
     </table>
     <center><a href="{% url 'bloodcamp:newdonorpage' %}"><button type="button" class="preregisterbtn" name="Pre-register">Pre-Register</button></a></center>
    {% else %}
        <br><br>
        <h2>No Upcoming Camps</h2>
    {% endif %}
{% endblock %}
